mixin section(title)
	section.section
		.container.has-text-justified
			.content
				h1.dynamicHeader= title
				block

mixin icon(iconClasses, spanClasses)
	span.icon(class=spanClasses)
		i.fa(class=iconClasses)

mixin addText(text, style)
	if text
		each paragraph in text.split("%\n")
			case style
				when "span"
					span!= paragraph
				when "p"
				default
					p!= paragraph

mixin addImg(image)
	if image
		img(src=image[0].url)
	else
		img

mixin addDate(date, style)
	if date
		case style
			when "span"
				span= date.replace(/(\d+)-(\d+)-(\d+)/, "$2/$3/$1")
			when "h4"
			default
				h4= date.replace(/(\d+)-(\d+)-(\d+)/, "$2/$3/$1")