mixin section(title)
	section.section
		.container
			.content
				if title
					h1= title
				block

mixin addPageHeader(title)
	section.hero.is-full-height
		.hero-body
			.container.has-text-centered
				if title
					h1.title.is-1(style="padding-top: 1rem;")= title

mixin icon(iconClasses, spanClasses)
	span.icon(class=spanClasses)
		i.fa(class=iconClasses)

//- In Airtable, use % in a record to create a newline.
mixin addText(text)
	if text
		each paragraph in text.split("%\n")
			p!= paragraph

mixin addSpan(text)
	if text
		span= text

//- This checks if an image is provided before displaying it, since accessing the .url property of an undefined object returns an error
mixin addImg(image)
	if image
		img(src=image[0].url)
	else
		img

//- This changes the format of the Date string provided by Airtable into mm/dd/yy format.
mixin addDate(date, style)
	if date
		case style
			when "span"
				span= date.replace(/(\d+)-(\d+)-(\d+)/, "$2/$3/$1")
			when "h4"
			default
				h4= date.replace(/(\d+)-(\d+)-(\d+)/, "$2/$3/$1")
