doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;")= (options.pageTitle || "")
			.hero-foot
		article.article
			include includes/body.pug
			+section()
				each record in records[0]
					if record.publish
						.box: .columns
							.column
								//- All
								if record.title
									h1= record.title

								//- Ministries
								.has-text-centered
									+addImg(record.logo)
							.column.is-three-quarters
								+addText(record.passage) //- Sermons
								+addText(record.body) //- All

								//- Most
								if record.date
									p
										strong Date: &nbsp;
										+addDate(record.date, "span")

								//- Ministries
								.columns
									if record.demographic
										.column: p #[strong Demographic: ] #{record.demographic}
									if record.meetingTimes
										.column: p #[strong Meeting Times: ] #{record.meetingTimes}
									if record.meetingPlace
										.column: p #[strong Meeting Place: ] #{record.meetingPlace}

								//- Sermons
								.columns
									if record.speaker
										.column: p #[span: strong Speaker: ] &nbsp; #{records[1][record.speaker[0]]["name"]} &nbsp; (#{records[1][record.speaker[0]]["email"]})
									if record.series
										.column: p This sermon is part of the series #{records[2][record.series[0]]["name"]}.
								.columns
									if record.handout
										.column: a(href=(record.handout[0].url), target="_blank") Download handout
									if record.slides
										.column: a(href=(record.slides[0].url), target="_blank") Download slides
								if record.audio
										audio(controls, style="margin-bottom: 3.5rem"): source(src=(record.audio[0].url))

								//- Most
								if record.contact
									p #[span: strong Contact: ] &nbsp; #{records[1][record.contact[0]]["name"]} &nbsp; (#{records[1][record.contact[0]]["email"]})

		//- Footer
		include includes/footer.pug