//- Sermons.pug is based on tiles.pug, update sermons.pug as necessary
doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			+section()
				//- The counter allows collapsible tiles to show/hide in their respective boxes, by correlating the heading (button) and the content.
				- var counter = 0
				each record in records[0]
					//- Sermons: Publish record if less than a month old
					- var recordDate = new Date(record.date)
					- var ONE_MONTH = 30 * 24 * 60 * 60 * 1000 /* ms */

					//- If it's not the Sermons page, then !options.sermonPage == true. If it is Sermons page, then only publish record if less than a month old.
					if record.publish && (!options.sermonPage || ((new Date) - recordDate) < ONE_MONTH)
						.box
							.columns: .column
								//- title: All
								if record.title
									div(data-boxgroup=counter, class=(options.collapsible) ? "collapsibleButton" : "")
										h1.is-unselectable(data-boxgroup=counter, class=(options.collapsible) ? ["collapsibleHeading", "has-text-grey"] : "")= record.title
							.columns(data-boxgroup=counter, class=(options.collapsible) ? "collapsibleContent" : "")
								//- Fixes glitch where padding sticks out - ???
								//- p &nbsp;

								//- img: Ministries + Articles & Blogs, Storefront
								if record.img
									.column.is-one-quarter
											+addImg(record.img, "imageLeftFloatFix")
								.column
									//- passage: Sermons
									+addText(record.passage)
									//- body: All
									+addText(record.body)

									//- date: Most
									if record.date
										p
											strong Date: &nbsp;
											+addDate(record.date, "span")

									//- demographic, meetingTimes, meetingPlace: Ministries
									.columns
										if record.demographic
											.column: p #[strong Demographic: ] #{record.demographic}
										if record.meetingTimes
											.column: p #[strong Meeting Times: ] #{record.meetingTimes}
										if record.meetingPlace
											.column: p #[strong Meeting Place: ] #{record.meetingPlace}

									//- author: Articles & Blogs
									if record.author
										p
											strong Author: &nbsp;
											span= records[1][record.author[0]]["name"]

									//- embed: TV
									if record.embed
										div.has-text-centered(style="height: 25rem;")!= record.embed
										p &nbsp;

									//- handout: Forms & Reg
									//- speaker, series, handout, slides, audio: Sermons
									//- speaker: TV
									.columns
										if record.speaker
											.column: p #[span: strong Speaker: ] &nbsp; #{records[1][record.speaker[0]]["name"]} &nbsp; (#{records[1][record.speaker[0]]["email"]})
										if record.series
											.column: p This sermon is part of the series #{records[2][record.series[0]]["name"]}.
									.columns
										if record.handout
											.column: a(href=(record.handout[0].url), target="_blank") Download handout
										if record.slides
											.column: a(href=(record.slides[0].url), target="_blank") Download slides
									if record.audio
											audio(controls, style="height: 3rem;")
												source(src=(record.audio[0].url), type="audio/mp3")
												p Your browser does not support the audio element.
											//- margin-bottom: 4.5rem;

									//- expiration: TV
									if record.expiration
										//- Commented out per Jason's request
										//- span: strong Expires: &nbsp;
										//- +addDate(record.expiration, "span")

									//- contact: Most
									if record.contact
										p
											span: strong Contact:
											span &nbsp;
											span: +addSpan(records[1][record.contact[0]]["name"])
											span &nbsp;
											span: +addSpan(records[1][record.contact[0]]["phone"])
											span &nbsp; (
											span: +addSpan(records[1][record.contact[0]]["email"])
											span )
					- counter++;
			if options.sermonPage
				+section("Archive")
					p #[a(href="/sermons/archive.html") Click here] to go to the archive for sermons from more than a month ago.

		//- Footer
		include includes/footer.pug
