doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			+section()
				//- The counter allows collapsible tiles to show/hide in their respective boxes, by correlating the heading (button) and the content.
				- var counter = 0
				each record in records[0]
					if record.publish && record.title
						.box
							div(data-boxgroup=counter, class=(options.collapsible) ? "collapsibleButton" : "")
								h1.is-unselectable(data-boxgroup=counter, class=(options.collapsible) ? ["collapsibleHeading", "has-text-grey"] : "")= record.title

							div(data-boxgroup=counter, class=(options.collapsible) ? "collapsibleContent" : "")
								//- Fixes glitch where padding sticks out
								p &nbsp;

								if record.img
									.has-text-centered
										+addImg(record.img)

								if record.embed
									div.has-text-centered(style="height: 25rem;")!= record.embed

								p &nbsp;

								if record.speaker
									p #[span: strong Speaker: ] &nbsp; #{records[2][record.speaker[0]]["name"]}

								if record.expiration
									//- Commented out per Jason's request
									//- span: strong Expires: &nbsp;
									//- +addDate(record.expiration, "span")

					- counter++;

	//- Footer
	include includes/footer.pug
